* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

body button {
    margin-top: 20px;
}

body .tittle {
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
}

.header {
    background-color: #515154;
    height: 64px;
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 105px;
    height: 45px;
    margin-right: 20px;
}

.header .menu a {
    text-decoration: none;
    color: #d2d2d7;
    font-size: 15px;
    padding: 23px 16px;
    font-weight: 500;
    margin: 8px;
}
.header .menu a:hover {
    background-color: #777;
}

.header .icon {
    margin-left: 25px;
    color: white;
    font-size: larger;
}
.header .icon a {
    text-decoration: none;
    color: #d2d2d7;
}
.header .icon .bags {
    margin-left: 20px;
}

.header .icon .users {
    margin-left: 20px;
}
.links {
    margin-top: 8px;
    display: flex ;
    margin-left: 160px;
    color: #515154;
    font-size: 14px;
}
.links a {
    text-decoration: none;
    color: #515154;

}
.tieu-de {
    margin-left: 160px;
    margin-top: 10px;
}
#myTable {
    margin-top: 40px;
    width: 75%;
}
#searchValue {
    border-radius: 40px;
    width: 470px;
    height: 40px;
    padding-left: 20px;
}
#searchButton{
    background-color: #0066cc;
    color: #f2f2f2;
    border-radius: 40px;
    border: none;
    width: 100px;
    height: 40px;
    margin-left: -62px;
    font-size: 12px;
}
.table form {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
}
.regist {
    text-align: center;
    background-color: #f2f2f2;
    height: 242px;
    margin-top: 80px;
    padding: 30px 0px 30px 0px;
    width: 100%;
}

.regist form {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.regist form #inputEmail {
    border-radius: 40px;
    width: 470px;
    height: 40px;
    padding-left: 20px;
}

.regist form #registBtn {
    background-color: #0066cc;
    color: #f2f2f2;
    border-radius: 40px;
    border: none;
    width: 100px;
    height: 40px;
    margin-left: -52px;
    font-size: 12px;
}

.footer {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #515154;
    text-align: center;
}

.footer .icon a {
    color: #fff;
    font-size: 24px;
    margin-left: 5px;
}

.footer p {
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
}

